<div class="container small-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputName">Full name</label>
            <input type="text" class="form-control" id="exampleInputName" formControlName = "fullName"
                placeholder="Enter your full name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName = "email"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName = "password">
            <small id="passwordhelp" class="form-text text-muted">The password is 'pass', write it in the field to be able to proceed</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
    </form>
<div  *ngIf="randomJokes">
    <h4>Today's couple of jokes</h4>
    <ul>
        <li *ngFor="let joke of randomJokes">{{joke.value}}</li>
    </ul>

</div>
</div>